.heading {
  margin-top: 1.5rem;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #333;
}

.pagination {
  display: flex;
  justify-content: center;
}

.todoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.todoList {
  flex: 1;
}
