.heading {
  /* margin-top: 1.5rem; */
  margin: 20px 0
}
/* 
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #333;
} */

.pagination {
  display: flex;
  justify-content: center;
}

.todoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todoList {
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 0;
  gap: 20px;
  width: 100%;
  /* flex: 1; */
  /* display: flex;
  flex-wrap: wrap;
  flex: 50% 50%;
  justify-content: space-between; */
}

.todo h1 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
}

.todo h2 {
  font-size: 1.4rem;
}

.todo {
  height: 100%;
  padding: 20px;
  /* background-color: #f8f1f1; */
}
