.heading {
  margin-top: 1.5rem;
}
/* 
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #333;
} */

.pagination {
  display: flex;
  justify-content: center;
}

.todoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todoList {
  /* flex: 1; */
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.todo h1 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
}

.todo h2 {
  font-size: 1.4rem;
}

.todo {
  height: 100%;
  padding: 20px;
  background-color: #fff;
}
