.header {
  height: 70px;
  width: 100%;
  /* background: rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* backdrop-filter: blur(20px); */
}

.logo {
  margin: 20px;
  height: 40px;
  width: auto;
}

.logoutBtn {
  padding: 10px;
  margin-right: 20px;
}

.logoutBtn:hover {
  background-color: red;
  border-color: red;
}
